@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0%;
    padding: 0%;
}
.global-btn{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
